<ion-content>
 
 <div id="menuFe"> 
  <button ion-button clear menuToggle>
    <ion-icon name="arrow-back"></ion-icon>
      <p id="back">VOLTAR</p>
    </button>

    <div id="img-nome-fe">
      <img src="/assets/img/img-nome-eixo-fe.png">
    </div>
 </div>

 <ion-list>
    <ion-item padding *ngFor="let p of palestrantes" text-wrap (click)="toggleGroup(p)" >
      <ion-avatar item-start>
        <img [src]="p.img">
      </ion-avatar>
      <ion-icon color="primary" item-right [name]="p.icon"></ion-icon>
      <h2> {{ p.nome }}</h2>
      <div *ngIf="p.showDetails">{{ p.sobre }}</div>
    </ion-item>
  </ion-list>
 

</ion-content>