page-home {

    #menuHome{
        background-image: url(../assets/img/img-home.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        height: 50%;
    }

    #logo{
        width: 50%;
        height: 50%;
        position:absolute;
        top:12%;
        left:40%;
        margin-top:-10%;
        margin-left: -15%;
    }

    #nome-conf-home{
        position:absolute;
        margin-top:47%;
        margin-left:07%;
    }
    
    #data-home{
        position:absolute;
        margin-top:50%;
        margin-left:-3%;
    }

    #nome-outubro-home{
        position: absolute;
        margin-top:50%;
        margin-left:51%;
    }


    #sobre-cn17 {
        text-align: justify;
        margin-right: 3px;
        margin-left: 3px;
        font-size: 12pt;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #bemvindo-home{
        margin-top: 1%;
        text-align: center;
    }

    p{
        margin-right: 12px;
        margin-left: 12px;
    }

    .destaque-home{
        font-weight: bold;
    }

}
