page-intro {
    .scroll-content {
        overflow: hidden;
    }
     
    #img-slide-1{
        background: url(../assets/img/img-slide-1.png) !important;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .logos-slides{
        margin-left: 30px;
        width: 180px;
    }

    #img-slide-2{
        background: url(../assets/img/img-slide-2.png) !important;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    #img-slide-3{
        background: url(../assets/img/img-slide-3.png) !important;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    p { 
        margin-right: 30px;
        margin-left: 30px;
        text-align: justify;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        font-size: 17px;
        color: rgba(244, 242, 242, 0.74); 
    }

    #logo-nuvem-slide3{
        top: 15%;
    }

    .logo-slides3{
        margin-bottom: 40px;
        margin-left: 60px;
        width: 250px;
    }

    .button, .button-md {
        background-color: #00FFD8;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        font-weight: bold;
        font-size: 16px;
        color: #010125;
        margin-left: 24px;
        width: 85%;
        height: 55px;
    }

}
