page-palestrantes {
    ion-content{
        background: url(/assets/img/backSlide.png) !important;
    } 

    #menuPalestrantes{
        background-image: url(/assets/img/logo.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        height: 35%;
    }
}
