page-palestrantes { 

    #menuPalestrantes{
        background-image: url(/assets/img/img-programacao.png);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 22%;
    }

    #img-palestrantes-nome{
        position: absolute;
        top: 25px;
    }

  img {
      width: 100%;
  }
  
  #eixo-fe, #eixo-amor, #eixo-esperanca{
      height: 25%;
  }
    
}
