page-programacao {

    ion-content{
        background: url(/assets/img/backSlide.png) !important;
    } 
    
    #menuProgramacao{
        background-image: url(/assets/img/logo.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        height: 35%;
    }

}
